/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.inner-box{
  background-color: blue;

}

#outer-box{
  border: 12px solid blue;
}

