
#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: khaki;
}
.clor{
    font-weight: normal;
}

img{
    height: 200px;
    width: 200px;
}
html{
    background-color: aquamarine;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
